<nav id="navbar">
  <div class="container navbar">
    <% if (!currentUser) { %>
      <a href="/" class="logo">🍻</a>
      <a href="/users/login" class="btn btn-navbar">Login</a>
    <% } else { %>
      <a href="/events" class="navbar-link">
        <img src="/images/events.svg" alt="">
      </a>
      <a href="/events/create" class="navbar-link">
        <img src="/images/add.svg" alt="">
      </a>
      <a href="/profiles/profile" class="navbar-link">
        <img src="/images/user.svg" alt="">
      </a>
    <% }; %>
  </div>
</nav>