/*
COLORS
  white: #ffffff
  yellow: #fffc00
  black: #262626
  blue: #1487fe
*/

/* ---------- RESET ---------- */

html {
  box-sizing: border-box;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

/* ---------- TYPOGRAPHY ---------- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: white;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Montserrat Alternates', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}

h1 {
  margin: 0;
  /* font-weight: 700; */
  font-size: 36px;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
}

h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
  font-size: 18px;
}

h5 {
  margin: 0;
  font-size: 14px;
  color: #585858;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin: 0;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

/* ----- HOMEPAGE ----- */

.main-title {
  margin-bottom: 30px;
}

.instructions {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.instructions .icons {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  justify-content: space-around;
}

.fa-edit,
.fa-user-plus,
.fa-beer {
  padding-top: 20px;
  font-size: 50px;
}

.instructions .list{
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-around;
}

.instructions .list-title {
  font-weight: 700;
  padding-top: 20px;
}

/* ----- NAV BAR ----- */

#navbar {
  padding: 0px;
  margin-bottom: 30px;
  background-color: #1487fe;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navbar .logo {
 font-size: 30px;
}

#navbar .navbar-link {
  text-decoration: none;
  color: #262626;
  font-size: 10px;
  text-align: center;
}

#navbar .navbar-link img{
  width: 22px;
}

/* @media (min-width: 768px) {
  
} */

/* ----- BUTTONS ----- */

.btn {
  background-color: #1487fe;
  padding: 3px 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

.btn-primary {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn-navbar {
  background-color: white;
  color: #1487fe;
  font-weight: 400;
  border-radius: 50px;
}

/* ----------- GUEST SHOW -------------- */

.guest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
}

.guest-container .header {
  width: 100%;
}

.guest-container .owner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.guest-container .owner-details {
  display: flex;
  flex-direction: column;
}


.guest-container .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-right: 20px;
}

.guest-container .guests {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; 
  padding: 14px 0px 0px 0px; 
  border-top: 1px solid #BDBDBD; 
  border-bottom: 1px solid #BDBDBD;
}

.guest-container .btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 20px 0px; 
}

.guest-container .btn-edit,
.guest-container .form-cancel {
  width: 48%;
}

.guest-container .btn-cancel,
.guest-container .btn-ignore {
  width: 100%;
}

.guest-container .form-ignore {
  width: 100%;
}

.btn-cancel,
.btn-ignore {
  background-color: red;
}

.guest-container .detail-text {
  margin-bottom: 30px;
  min-width: 100%;
}

.guest-container .location {
  margin-bottom: 30px;
}


.guest-container .location img {
  width: 100%;
}

.guest-container .location .date-holder {
  display: flex;
  text-align: left  ;
  align-items: center;
  height: 50px;
  font-size: 14px;
  padding-left: 20px;
  color: 262626
}

.guest-container .location .date-holder img {
  width: 20px;
  margin-right: 20px;
  border-radius: 0px;
}

.guest-container .location .location-holder {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  padding-left: 20px;
  color: #262626;
}

.guest-container .location .location-holder img {
  width: 20px;
  margin-right: 20px;
  border-radius: 0px;
}

.guest-container .guests-cards {
  width: 100%;
}

.guest-container .card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.guest-container .guest-card {
  /* flex: 0 0 100%; */
  width: 80px;
  height: 110px;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-right: 20px;
}

.guest-container .guest-card img {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .guest-container .header {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    margin-bottom: 10px;
  }

  .guest-container .title {
    flex: 1 0 70%;

  }

  .guest-container .guests {
    flex: 1 0 30%;
    border: none;
    padding: 10px;
  }

  .details-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .details-container .details {
    flex: 1 0 70%;
    padding-right: 100px;
  }

  .details-container .location {
    flex: 1 0 30%;
  }

  .details-container .card-list {
    justify-content: flex-start;
  }
}


/* -------- CARD --------- */

.event-card {
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 0px 6px lightgray;
}

.event-card .date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 10px;
}

.event-card .information {
  padding: 10px 10px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 15px;
}

.information span {
  color: black;
}
.event-card .guests {
  text-align: center;
  padding-top: 10px;
}

.event-card .link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-decoration: none;
  z-index: 30;
  transition: all 0.3s ease;
}

.event-card .link:hover {
  border-radius: 6px;
  box-shadow: 0px 0px 6px gray;
  transition: all 0.3s ease;
}

/* ----- FORMS ----- */

.form-container {
  padding: 0px 30px;
}

.form-title {
  padding-bottom: 15px;
  /* padding-left: 5px; */
}
.field {
  width: 100%;
  padding-bottom: 15px;
}

.date-time-field {
  display: flex;
}

.date-time-field input:first-child{
  margin-right: 20px;
}
.field input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  border: none;
  background-color: #f4f4f4;
  color: black;
}

.field input:focus {
    outline: none !important;
    border: 1px solid #1487fe;
    box-shadow: 0 0 6px lightgrey;
}

.field textarea {
  background-color: #f4f4f4;
  width: 100%;
  height: 80px;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 20px;
  border: none;
}

.field textarea:focus {
    outline: none !important;
    border: 1px solid #1487fe;
    box-shadow: 0 0 6px lightgrey;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #757575;
    background-color: #f4f4f4;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 16px;
    width: 100%;
    transition: ease-in-out 0.3s all;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #757575;
    color: #f4f4f4;
    transition: ease-in-out 0.3s all;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.field button {
  background-color: #1487fe;
  color: white;
}

.form-container .link {
  display: flex;
  justify-content: center;
}

.form-container .link p {
  margin-right: 10px;
}

.form-container ul {
  padding: 0;
  text-align: center;
}

.validation {
  list-style: none;
  height: 35px;
  color: red;
}

/* ----- ALERTS ----- */

.alert-edit-profile {
  width: 100%;
  margin-top: -30px;
  padding: 10px;
  border-radius: 0px;
}

.alert-edit-profile .edit-button {
  margin: 0px;
  margin-left: 30px;
}

.alert-edit-profile .fa-edit {
  margin: 0px;
  color: #155724;
  width: 25px;
  height: 25px;
  padding: 0px;
}

/* ----- ERRORS ----- */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px;
}

.error-container .logo {
  font-size: 100px;
}

.error-container .message {
  margin-bottom: 20px;
}

.error-container .description {
  text-align: center;
}

/* ----- PROFILE ----- */

.profile-information {
  text-align: center;
}

.profile-information .avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.profile-information .name {
  padding-top: 20px;
  margin-bottom: 10px;
}
.profile-information .email {
  font-weight: 400;
  padding-top: 10px;
  margin-bottom: 20px;
}

.profile-information .description {
  padding-top: 10px;
  margin-bottom: 40px;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
}

/* ----- COMPONENTS ----- */
.avatar-sm {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

/* ----- GOOGLE MAPS ----- */

#map {
  margin-bottom: 5px;
  height: 250px;
  width: 100%;
  border-radius: 20px;
}

textarea {
  resize: none;
}

.map-container {
  position: relative;
}
#marker {
  width: 50px;
  position: absolute;
  left: 48%;
  top: 47%;
  font-size: 40px;
  line-height: 48px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
}

