<div class="form-container container">
  <h2 class="form-title">Join the Party!</h2>
  <form method="POST" action="/events/<%= event._id %>/accept">
    <div class="field">
      <input type="email" placeholder="Email" name="email" />
    </div>
    <div class="field">
      <input type="password" placeholder="Password" name="password" />
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </form>
</div>