<div class="form-container container">
  <h2 class="form-title">Invite</h2>
  <form method="POST" action="/events/<%= event._id %>/invite">
    <div class="field">
      <input type="email" placeholder="Email" name="email" />
    </div>
    <div class="field">
      <input type="hidden" value="<%= process.env.APP_URL %><%= event._id %>/accept" name="message" />
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Send Invite</button>
    </div>
  </form>
</div>