<div class="form-container container">
  <h3 class="form-title">Create Event</h3>
  <form method="POST" action="/events" enctype="multipart/form-data">
    <div class="field">
      <input type="text" placeholder="Title" name="title" />
    </div>
    <div class="field">
      <textarea type="text" placeholder="Description" name="description"></textarea>
    </div>
    <div class="field">
      <input type="text" placeholder="Location" name="location" class="location"/>
      <input hidden type="text" name="latitude" placeholder="Latitude" value="">
      <input hidden type="text" name="longitude" placeholder="Longitude" value="">
      <div id="map"></div>
    </div>
    <div class="field date-time-field">
      <input type="date" placeholder="Date" name="date" />
      <input type="time" placeholder="Time" name="time" />
    </div>
    <div class="field">
      <input type="file" placeholder="Picture" name="imgPath" id="file" class="inputfile"/>
      <label for="file">Upload the event Picture</label>
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>

<!-- @TODO extract the script -->
<script>
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label	 = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();
      
      if( fileName )
        label.innerHTML = fileName;
      else
        label.innerHTML = labelVal;
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCACjDHiiV3juiL1ms8QunrHol2_5PSUs"></script>

<script src="/javascripts/main.js"></script>
