<div class="form-container container">
  <h3 class="form-title">Create Event</h3>
  <form method="POST" action="/events" enctype="multipart/form-data">
    <div class="field">
      <input type="text" placeholder="Title" name="title" />
    </div>
    <div class="field">
      <textarea type="text" placeholder="Description" name="description"></textarea>
    </div>
    <div class="field">
      <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" />
      <input type="hidden" id="address" name="address" />
      <input type="hidden" id="cityLat" name="latitude" />
      <input type="hidden" id="cityLng" name="longitude" />
    </div>
    <div class="field date-time-field">
      <input type="date" placeholder="Date" name="date" />
      <input type="time" placeholder="Time" name="time" />
    </div>
    <div class="field">
      <input type="file" placeholder="Picture" name="imgPath" id="file" class="inputfile"/>
      <label for="file">Upload the event Picture</label>
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_API_KEY %>&libraries=places"></script>
<script src="/javascripts/googleAutocomplete.js"></script>
<script src="/javascripts/fileUpload.js"></script>
