<div class="container text-center">
  <div class="container main-title">
    <h1>What's up on <br>Ironhack?</h1>
  </div>
  <div class="">
    <a href="/users/login" class="btn btn-primary">Login</a>
    <a href="/users/signup" class="btn btn-primary">Sign Up</a>
  </div>
  <div>
    <img src="" alt=""><p>Create</p>
    <img src="" alt=""><p>Invite</p>
    <img src="" alt=""><p></p>
  </div>
</div>
