<div class="container text-center">
  <div class="container main-title">
    <h1>What's up on <br>Ironhack?</h1>
  </div>
  <div class="">
    <a href="/users/login" class="btn btn-primary">Login</a>
    <a href="/users/signup" class="btn btn-primary">Sign Up</a>
  </div>
  <div class="instructions">
    <div class="icons">
      <i class="far fa-edit"></i>
      <i class="fas fa-user-plus"></i>
      <i class="fas fa-beer"></i>
    </div>
    <div class="list">
     <p class="list-title">Create</p>
     <p>Organise your custom event</p>
     <p class="list-title">Invite</p>
     <p>Grant access to your guests</p>
     <p class="list-title">Enjoy</p>
     <p>Sit back and grab a beer</p>
    </div>
  </div>
</div>
