<div class="form-container">
  <h2 class="form-title">Edit Profile</h2>
  <form method="POST" action="/profiles/update">
    <div class="field">
      <input type="email" placeholder="Email" value="<%= user.email %>" name="email" />
    </div>
    <div class="field">
      <input type="text" placeholder="First Name" value="<%= user.firstName %>" name="firstName" />
    </div>
    <div class="field">
      <input type="text" placeholder="Last Name" value="<%= user.lastName %>" name="lastName" />
    </div>
    <div class="field">
      <input type="file" placeholder="Picture" value="<%= user.picture %>" name="picture" />
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>